@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #B9E0F7;
    --secondary-color: #F58426;
    --detail-color: #EF4423;
    --stroke-color: #182E3A;

    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: var(--primary-color);
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}